

 <div class="about">
  <span>ABOUT US</span>
  <h1>
    WHO AM I?
  </h1>
  <p> <strong>Hi I'm Jackson Ford</strong> On her way she met a copy. The copy warned t
    he Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Li
    ttle Blind Text should turn around and return to its own, safe country. <br>
  <br>
  Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic lif
  e One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.
</p>

<div class="row py-5">
  <div class="col-md-3">
    <div class="card card-Graphic">
      <i class="fa-regular fa-lightbulb"></i>
      <h3>Graphic Design</h3>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card card-web">
      <i class="fa-solid fa-globe"></i>
      <h3>Web Design</h3>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card card-Software">
      <i class="fa-solid fa-database"></i>
      <h3>Software</h3>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card card-Application">
      <i class="fa-solid fa-mobile-button"></i>
      <h3>Application</h3>
    </div>
  </div>
</div>

 </div>
