 <div class="exp">
  <span>EXPERIENCE</span>
  <h1>WORK EXPERIENCE</h1>
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-10 my-4">
        <div class="content">
          <h2>
            Full Stack Developer
          </h2>
          <p>Tolerably earnestly middleton extremely distrusts she boy now not. Add and offered prepare how cordial two promise.
             Greatly who affixed suppose but enquire compact prepare all put. Added forth chief trees but rooms think may.</p>
        </div>
      </div>

      <div class="col-10 my-4">
        <div class="content">
          <h2>
            Front End Developer at Google Company
          </h2>
          <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text
             by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
        </div>
      </div>

      <div class="col-10 my-4">
        <div class="content">
          <h2>
            System Analyst
          </h2>
          <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of
             blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
        </div>
      </div>

      <div class="col-10 my-4">
        <div class="content">
          <h2>
            Creative Designer
          </h2>
          <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text
            by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
        </div>
      </div>

      <div class="col-10 my-4">
        <div class="content">
          <h2>
            UI/UX Designer at Envato
          </h2>
          <p>Even the all-powerful Pointing has no control about the blind texts it
            is an almost unorthographic life One day however a small line of blind text by the name of
             Lorem Ipsum decided to leave for the far World of Grammar.</p>
        </div>
      </div>
    </div>
  </div>
 </div>
