.nav-bar
{
  background-color: #f2f3f7;
  height: 100vh;
  overflow: auto;

}

li
{
  list-style-type: none;
}
.nav-bar .content .logo img{
  width: 170px;
  height: 170px;
  margin: 50px 0 0 0;
  border-radius: 50%;
}
.nav-bar .content .head-logo h1{
  text-align: center;
  margin: 25px;
  font-size: 30px ;
  font-weight: bold;
}
.nav-bar .content .logo
{
  display: flex;
  justify-content: center;
}
.nav-bar .content  .links ul
{
  text-align: center;
  padding: 30px 0;
}
.nav-bar .content  .links ul li
{
  padding: 5px 0;
}
.nav-bar .content  .links ul li a
{
  text-decoration: none;
  color: #333;
}
.nav-bar .content .caption
{
  padding: 0 30px 50px;
  text-align: center;
}

.test
{
  color: #09c;
}
