 <div class="blog">
  <span>READ</span>
  <h1>RECENT BLOG</h1>
  <div class="row">
    <div class="col-md-4">
      <img src="assets/images/img-1.jpg.webp" class="w-100" alt="">
      <h5>RENOVATING NATIONAL GALLERY</h5>
      <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
    </div>
    <div class="col-md-4">
      <img src="assets/images/img-1.jpg.webp" class="w-100" alt="">
      <h5>RENOVATING NATIONAL GALLERY</h5>
      <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
    </div>
    <div class="col-md-4">
      <img src="assets/images/img-1.jpg.webp" class="w-100" alt="">
      <h5>RENOVATING NATIONAL GALLERY</h5>
      <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
    </div>
  </div>
 </div>
