

.carousel1
{
  background-image: url(/assets/images/img_bg_1.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
}
.carousel2
{
  background-image: url(/assets/images/img_bg_2.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
}

.caption{
  padding: 50px;
}
.caption h1
{
  font-size: 60px;
  line-height: 1.3;
  font-weight: 700;
}
.caption p{
  padding: 20px 0;
  font-size: 18px ;
  color: #333;

}
.caption  button
{
  background-color: transparent;
  padding: 8px 20px;
  color: #333;
  border: 1px solid #333;
}
